
.antonio-font {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 3px;
    font-style: normal;
  }
  .newyork{
    color:white;
    margin:10px;
    text-align:center;
    font-family:"Antonio", sans-serif;
    position:absolute;
    top:90%;
    background:none;
    z-index: 2;
}
  h1{
    color:white;
    margin: 10px;
    text-align:center;
    font-size:100px;
    font-family:"Antonio", sans-serif;
    position:absolute;
    top:75%;
    z-index: 2;
}

  .mainimage{
    filter:brightness(75%);
    display:block;
    margin-left:-2%;
    margin-right:auto;
    margin-top:-2%;
  }


h2{
    color:white;
    font-size:30px;
    padding:10px;
    margin: -10px;
    text-align:center;
    background-color:rgb(117, 117, 117);
    font-family:"Antonio", sans-serif;
}
.container{
    position:relative;
}
.space{
    margin: -20px;
    color:white;
}