
.antonio-font {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 3px;
    font-style: normal;
  }
  
.yaldevi-font> {
  font-family: "Yaldevi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 3px;
  font-style: normal;
}
ul{
  position:sticky;
  top:0;
 list-style-type: none; 
 margin:-10px;
 padding:0;
 background-color:gray;
 display:flex;

}

ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-family:"Yaldevi", sans-serif;
  letter-spacing:4px;
  justify-content:center;
}
ul li a:hover {
  background-color:black;
}

ul li a.active{
  background-color:black;
}
  .newyork{
    color:white;
    margin:10px;
    text-align:center;
    font-family:"Antonio", sans-serif;
    position:absolute;
    top:90%;
    background:none;
    z-index: 2;
}
  h1{
    color:white;
    margin: 10px;
    text-align:center;
    font-size:100px;
    font-family:"Antonio", sans-serif;
    position:absolute;
    top:75%;
    z-index: 2;
    letter-spacing:5px;
}

  .mainimage{
    filter:brightness(75%);
    display:block;
    margin-left:-2%;
    margin-right:auto;
    margin-top:-2%;
  }


h2{
    color:white;
    font-size:30px;
    padding:10px;
    text-align:center;
    background-color:#757575;
    font-family:"Antonio", sans-serif;
    letter-spacing:5px;
}
.container{
    position:relative;
    margin-top:25px;
    margin-bottom:33px;
}
p{
  font-family:"Yaldevi", sans-serif;
  margin:35px;
  text-align:center;
}
.aboutus{
  margin:-25px;
}

